<?xml version="1.0"?>
<model>
  <name>cleaner_robot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Medhavi</name>
    <email>medhavi@example.com</email>
  </author>

  <description>
    Simple hospital cleaner robot with differential drive.
  </description>
</model>
